<head>
  <title>To Watch</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel="stylesheet">
  <link href='styles.css' rel="stylesheet">
</head>
<body>
  <div id='app' class='container'>
    <%- reactOutput %>
  </div>
  <script src='app.js'></script>
</body>
